---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14Q1OP4YbhcI9p1LC8Nrf6HO&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1407696610,
          "id": "cus_4Z9hrQZUr0iASF",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Z9hrQZUr0iASF/subscriptions",
            "data": [
              {
                "id": "sub_4Z9h8my5OL0Gub",
                "plan": {
                  "interval": "month",
                  "name": "The base plan",
                  "created": 1407678218,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1407696610,
                "status": "active",
                "customer": "cus_4Z9hrQZUr0iASF",
                "cancel_at_period_end": false,
                "current_period_start": 1407696610,
                "current_period_end": 1410375010,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Z9hrQZUr0iASF/cards",
            "data": [
              {
                "id": "card_14Q1OP4YbhcI9p1LwlSIxRGd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "3l8TgH8lYqPNQOz1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Z9hrQZUr0iASF"
              }
            ]
          },
          "default_card": "card_14Q1OP4YbhcI9p1LwlSIxRGd"
        }
  recorded_at: Sun, 10 Aug 2014 18:50:11 GMT
recorded_with: VCR 2.9.2
