---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14Q1hT4YbhcI9p1Ln2KGS7f1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14Q1hT4YbhcI9p1Ln2KGS7f1",
          "created": 1407697791,
          "livemode": false,
          "type": "invoice.payment_succeeded",
          "data": {
            "object": {
              "date": 1407697790,
              "id": "in_14Q1hS4YbhcI9p1L1KB4LC1x",
              "period_start": 1407697790,
              "period_end": 1407697790,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14Q1hS4YbhcI9p1L1KB4LC1x/lines",
                "data": [
                  {
                    "id": "sub_4ZA1XCfcy5TQnp",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 999,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1407697790,
                      "end": 1410376190
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "The base plan",
                      "created": 1407678218,
                      "amount": 999,
                      "currency": "usd",
                      "id": "base",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ]
              },
              "subtotal": 999,
              "total": 999,
              "customer": "cus_4ZA1MedO4xuaAR",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 999,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_14Q1hS4YbhcI9p1LrHOFOVUA",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4ZA1XCfcy5TQnp",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4ZA1TSmkvasBPo"
        }
  recorded_at: Sun, 10 Aug 2014 22:08:56 GMT
recorded_with: VCR 2.9.2
