---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14QhfB4YbhcI9p1LhUv7jwcx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14QhfB4YbhcI9p1LhUv7jwcx",
          "created": 1407859097,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14QhfB4YbhcI9p1LTvEmu4XX",
              "object": "charge",
              "created": 1407859097,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14Qhdp4YbhcI9p1LNiJcnrG0",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "9r1dOPavk4bkDUHT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ZqIPGAB5AmB32"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14QhfB4YbhcI9p1LTvEmu4XX/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4ZqIPGAB5AmB32",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": "payment to fail",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4ZrNJzaoS5Pug4"
        }
  recorded_at: Tue, 12 Aug 2014 16:17:23 GMT
recorded_with: VCR 2.9.2
